* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

            /* HEADER */

  header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 200px;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  section {
    background-color: #fcfbf4cc;
  }

  .section-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2.5em;
    color: #333;
  }
  .section-header-comment {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    color: #333;
  }

  .btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
  }

  .btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 136, 169, 0.8);
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }

  .btn-primary:hover {
    background-color: #2d9cd8;
  }

  .site-name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    color: white;
  }

  .featured-item {
    margin: 30px;
  }

  .content-section {
    margin-top: 135px;
  }

  .featured-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
  }

  .featured-item-image {
    width: 250px;
    height: 250px;
  }

  .featured-item-details {
    display: flex;
    position: fixed;
    padding: 5px;
  }

  .featured-item-price {
    flex-grow: 1;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 1em;
  }

  .featured-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

            /* Prezenty */
  .test-block {
    width: 200px;
    border: 2px solid rgba(71, 236, 30, 1);
    background: rgba(71, 236, 30, 0.7);
    text-align: center;
    color: #000;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 850px;
  }


  .btn-jsbckgrndbtn {
    margin-bottom: 15px;
    display: flex;
    margin-left: 900px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 136, 169, 0.8);
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }

            /* Newsletter */
  .newsletter {
    padding: 5px 25px;
    background-color:rgb(211, 210, 210);
    /* margin-bottom: 80px; */
  }

  .newsletter-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2.5em;
    color: #333;
  }

  .newsletter-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    color: rgb(201, 63, 63);
  }

  .newsletter-form {
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

            /* O NAS */

  .section-desc-img {
    display: flex;
    align-items: center;
    width: 250px;
    height: 200px;
    margin-left: 820px;
  }

  .section-desc-comment {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    color: #333;
  }

  .section-desc-scomment {
    font-family: "Montserrat", sans-serif;
    font: bold;
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
  }

            /* B2B */

  .section-b2b-menu-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.7em;
    color: #333;
  }

  .section-b2b-menu-comment {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.05em;
    color: #333;
  }

            /* FOOTER */

  .main-footer {
    background-color: #24252a;
    color: white;
    padding: 10px 3%;
  }

  .main-footer-container {
    display: flex;
    align-items: center;
  }

  .main-footer-container ul{
    display: inline;
    flex-grow: 1;
    text-align: end;
    list-style-type: none;
  }

  .main-footer-container li {
    display: inline;
  }

  .footer-nav li {
    padding: 0.5em;
  }

  .footer-nav img {
    width: 60px;
    height: 50px;
  }